{{#section 'head'}}
    <title>网络异常</title>
    <style type="text/css">
    * {
        margin: 0;
        padding: 0;
    }
    
    html,
    body {
        height: 100%;
        width: 100%;
        overflow: hidden;
        padding: 0 16px;
        box-sizing: border-box;
    }
    
    a {
        display: block;
        font-size: 14px;
        text-decoration: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);  
        -webkit-tap-highlight-color: transparent;
    }
    .tujia {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .content {
        position: absolute;
        top: 50%;
        left:  50%;
        width: 100%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
    
    .content img {
        display: block;
        width: 60%;
        margin: 0 auto;
    }
    
    .content span {
        font-size: 18px;
        text-align: center;
        display: block;
        color: #333;
    }
    
    .content p {
        color: #66f;
        font-size: 22px;
        text-align: center;
        margin-top: 16px;
        line-height: 18px;
        text-decoration: underline;
    }
    </style>
{{/section}}

<body>
    <div class="tujia">
        <div id="J_content" class="content">
            <img src="http://shangjia.tujiamedia.com/o_1b2nmlujc18jf3ov1d0u7q61cain.jpg">
            <span>网络异常</span>
            <p>网络异常,请稍后再试!</p>
        </div>
        <!-- <footer><a href="#">了解更多信息</a></footer> -->
    </div>
</body>


