{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="css/logininin.css">
{{/section}}

   <div class="login-wrapper">

        <img class="logo" src="/images/logoapp.png"/>

        <form method="post" action="/login" class="form" autocomplete="off">
            <p class="input-form">
                <input id="J_username" class="user-name" type="input" name="username" value="admincn@scopemedia.com" required="required" autocomplete="off" placeholder="用户名/手机号"/ >
            </p>
            <p class="input-form">
                <input id="J_password" class="pass-word" type="password" name="password" value="123abc456efg" required="required" autocomplete="off" placeholder="密码"/>
            </p>
            <p>
                <input id="J_login" class="login-submit" type="submit" name="submit" value="登陆"/>
            </p>
            <p class="remember-box">
                <a class="forget-password">忘记密码？</a>
                <a class="regisr-now">立即注册</a>
            </p>
        </form>
   </div>
   
   <section class="go-login">
        <h1 class="header-or">or</h1>
        <ul class="load-login">
            <li class="weixin-login"></li>
            <li class="weibo-login"></li>
            <li class="qq-login"></li>
        </ul>
    </section>

{{#section 'jscodelink'}}
    <script type="text/javascript" src="js/loginin.js"></script>
{{/section}}