{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="css/logininin.css">
    <style type="text/css" media="screen">
        nav {
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    -ms-transform: translateZ(0px);
    -o-transform: translateZ(0px);
    transform: translateZ(0px);
    position: fixed;
    z-index: 1000;
    right: 20px;
    top: 20px;
    display: block;
    width: 40px;
}
nav ul {
    list-style: none;
    padding: 0px;
    margin: 0;
}
nav li {
    -webkit-transition: opacity 100ms linear;
    -moz-transition: opacity 100ms linear;
    -ms-transition: opacity 100ms linear;
    -o-transition: opacity 100ms linear;
    transition: opacity 100ms linear;
    margin-bottom: 10px;
    height: 40px;
}
nav li.disabled {
    opacity: 0.5;
    pointer-events: none;
}
nav circle, nav path {
    -webkit-transition: fill 100ms linear;
    -moz-transition: fill 100ms linear;
    -ms-transition: fill 100ms linear;
    -o-transition: fill 100ms linear;
    transition: fill 100ms linear;
}
nav svg {
    cursor: pointer;
}
nav svg:hover circle {
    fill: #333;
}
nav svg:hover path {
    fill: #fff;
}
.tile-view .panes {
    height: 0px;
}
.tiles {
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    -ms-transform: translateZ(0px);
    -o-transform: translateZ(0px);
    transform: translateZ(0px);
    display: block;
    visibility: visible;
    overflow: auto;
    background: #fff;
    position: absolute;
    text-align: center;
    z-index: 1000;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.tiles .main-tile {
    background: #fff;
    height: 560px;
    width: 475px;
    float: left;
}
.tiles .main-tile header {
    font-family: "mostra-nuova";
    color: #b2b2b2;
}
.tiles .main-tile header a {
    color: #b2b2b2;
}
.tiles .main-tile header h1 {
    margin-bottom: 10px;
    font-weight: 300;
    margin-top: 50px;
    font-size: 16px;
}
.tiles .main-tile header h2 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 12px;
}
.tiles .main-tile .description {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 200;
    margin-top: 40px;
    font-size: 12px;
    color: #e47c7c;
}
.tiles .main-tile .contribute h1 {
    font-family: "mostra-nuova";
    margin-top: 40px;
    font-weight: 800;
    font-size: 15px;
    color: #333;
}
    </style>
{{/section}}

   <div class="login-wrapper">

        <img class="logo" src="/images/logoapp.png"/>

        <form method="post" action="/login" class="form" autocomplete="off">
            <p class="input-form">
                <input id="J_username" class="user-name" type="input" name="username" value="admincn@scopemedia.com" required="required" autocomplete="off" placeholder="用户名/手机号"/ >
            </p>
            <p class="input-form">
                <input id="J_password" class="pass-word" type="password" name="password" value="123abc456efg" required="required" autocomplete="off" placeholder="密码"/>
            </p>
            <p>
                <input id="J_login" class="login-submit" type="submit" name="submit" value="登陆"/>
            </p>
            <p class="remember-box">
                <a class="forget-password">忘记密码？</a>
                <a class="regisr-now">立即注册</a>
            </p>
        </form>
   </div>
   
   <section class="go-login">
        <h1 class="header-or">or</h1>
        <ul class="load-login">
            <li class="weixin-login"></li>
            <li class="weibo-login"></li>
            <li class="qq-login"></li>
        </ul>
    </section>
<nav>
                <ul>
                    <li class="up">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                            <g enable-background="new">
                                <g>
                                    <g>
                                        <circle fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" cx="19.994" cy="20.001" r="20.004"></circle>
                                    </g>
                                </g>
                            </g>
                            <g enable-background="new">
                                <g>
                                    <g>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.703,18.274l-4.902-4.884c-0.026-0.034-0.051-0.07-0.083-0.101
                                            c-0.253-0.252-0.605-0.34-0.93-0.269c-0.048,0.009-0.093,0.025-0.138,0.041c-0.009,0.003-0.018,0.005-0.027,0.008
                                            c-0.163,0.062-0.303,0.167-0.412,0.3l-4.916,4.898c-0.394,0.393-0.394,1.029,0,1.422c0.394,0.393,1.049,0.393,1.443,0
                                            l3.276-3.249v10.56c0,0.549,0.432,0.993,0.983,0.993s0.983-0.445,0.983-0.993V16.41l3.297,3.287c0.394,0.393,1.032,0.393,1.426,0
                                            C26.098,19.303,26.097,18.667,25.703,18.274z"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </li>

                    <!-- Because Lifes lame without a little bit of random in it! -->
                    <li class="random">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                            <g enable-background="new">
                                <g>
                                    <g>
                                        <circle fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" cx="19.994" cy="20.001" r="20.004"></circle>
                                    </g>
                                </g>
                            </g>
                            <g enable-background="new">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.011,20c0-0.002,0-0.003,0-0.005c0-4.421,3.578-8.005,7.991-8.005
                                    c2.683,0,5.051,1.329,6.5,3.361l1.26-1.644c-1.834-2.254-4.627-3.696-7.76-3.696c-5.519,0-9.994,4.471-10.001,9.989H8.013
                                    l3.018,4.013L13.987,20H12.011z M32,20l-2.969-3.985L26,20h1.992c-0.003,4.419-3.579,8.001-7.99,8.001
                                    c-2.716,0-5.111-1.36-6.555-3.435l-1.284,1.644c1.832,2.314,4.66,3.803,7.84,3.803c5.524,0,10.001-4.478,10.001-10.001
                                    c0-0.004-0.001-0.008-0.001-0.012H32z"></path>
                            </g>
                        </svg>
                    </li>

                    <li class="down">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                            <g enable-background="new">
                                <circle fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" cx="19.994" cy="20.001" r="20.004"></circle>
                            </g>
                            <g enable-background="new">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M25.705,21.311c-0.394-0.393-1.049-0.393-1.443,0l-3.276,3.249v-10.56
                                    c0-0.549-0.432-0.993-0.983-0.993c-0.551,0-0.983,0.445-0.983,0.993V24.59l-3.297-3.287c-0.394-0.393-1.032-0.393-1.426,0
                                    c-0.394,0.393-0.393,1.029,0.001,1.422l4.902,4.884c0.026,0.034,0.051,0.07,0.083,0.101c0.253,0.252,0.605,0.34,0.93,0.269
                                    c0.048-0.009,0.093-0.025,0.138-0.041c0.009-0.003,0.018-0.005,0.027-0.008c0.163-0.062,0.303-0.167,0.412-0.3l4.916-4.898
                                    C26.099,22.34,26.099,21.703,25.705,21.311z"></path>
                            </g>
                        </svg>
                    </li>

                    <li class="grid">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                            <g enable-background="new">
                                <g>
                                    <g>
                                        <circle fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" cx="19.994" cy="20.001" r="20.004"></circle>
                                    </g>
                                </g>
                            </g>
                            <g enable-background="new">
                                <g>
                                    <g>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13,17h4v-4h-4V17z M13,22h4v-4h-4V22z M13,27h4v-4h-4V27z M18,17h4v-4h-4V17z
                                             M18,22h4v-4h-4V22z M18,27h4v-4h-4V27z M23,13v4h4v-4H23z M23,22h4v-4h-4V22z M23,27h4v-4h-4V27z"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </li>
                </ul>
            </nav>
{{#section 'jscodelink'}}
    <script type="text/javascript" src="js/loginin.js"></script>
{{/section}}